<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<script type="text/template" id="repo">
  <h1><%= name %></h1>
</script>
<script type="text/template" id="user">
  <div class="sidebar">
    <h1><%= name %></h1>
  </div>
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="token.js"></script>
<script src="main.js"></script>
</body>
</html>
